<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>
  <div layout:fragment="content" class="main-content">
    <h2>전국 축제 검색</h2>
    <form class="searchForm">
      <input type="text" id="search" placeholder="찾고 싶은 축제를 입력하세요 예)지역명,축제명" />
      <button type="submit" class="ico">
        <img src="/img/search.png" alt="" />
      </button>
    </form>
    <div class="bannerGrid">
      <div class="grid-item item1"><img src="img1.jpg" alt="" /></div>
      <div class="grid-item item2"><img src="img2.jpg" alt="" /></div>
      <div class="grid-item item3"><img src="img3.jpg" alt="" /></div>
      <div class="grid-item item4"><img src="img4.jpg" alt="" /></div>
      <div class="grid-item item5"><img src="img5.jpg" alt="" /></div>
      <div class="grid-item item6"><img src="img6.jpg" alt="" /></div>
      <div class="grid-item item7"><img src="img7.jpg" alt="" /></div>
    </div>
    <script>
      const search = document.querySelector(".searchForm");
      search.addEventListener("submit", function (e) {
        e.preventDefault();
        const searchInput = document.querySelector("#search");
        console.log(searchInput.value);
      });
    </script>
  </div>
</body>
</html>