 table {
    width: 100%;
    border-collapse: collapse;
  }
  table tr th, table tr td {
    padding: 10px;
    border-top: 1px solid #777;
	border-bottom: 1px solid rgba(200, 200, 200, 0.5);
  }
  table tr td:first-of-type {
    text-align: center;
  }
  h2 {
    margin: 30px 50px;
  }
  .tableCenter {
    text-align: left; /* 부모 div가 자식 table을 가운데 정렬 */
  }

  .memberTable {
    width: 100%;
    border-collapse: collapse;
	font-family: "맑은 고딕", sans-serif;
	font-size: 12px;
  }

  .tableCenter {
	width: 100%;
  }
  
  .pagination {
    text-align: center;
    margin-top: 30px;
  }

  .pagination ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 5px;
  }

  .pagination li a {
    display: block;
    padding: 8px 12px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }

  .pagination li.active a {
    background-color: #ff2e63;
    color: white;
    font-weight: bold;
    border-color: #ff2e63;
  }

  .pagination li a:hover {
    background-color: #ddd;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
  }

  /* 버튼스타일 */
  .btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
  }

  .btn-secondary {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
  }
  
  .btn-primary {
	background-color: #dc3545;
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	margin-right: 4%;
  }
  
  .bottom-controls {
	display: flex;
	  justify-content: space-between; /* 양 끝 배치 */
	  align-items: center;
	  padding: 20px;
	  margin-top: 30px;
	  position: relative;
  }
  
  /* 셀렉트 + 인풋을 감싼 그룹 */
  .search-group {
	position: absolute;
	  left: 50%;
	  transform: translateX(-50%);
	  display: flex;
	  gap: 8px;
	  font-family: "맑은 고딕", sans-serif;
	  	font-size: 12px;
  }

  /* 저장 버튼은 오른쪽 끝으로 밀기 */
  .bottom-controls .btn-primary {
    margin-left: auto;
  }
  

