<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 
</head>
<body>
  <div th:fragment="header" class="top-bar">
    <div class="wrapper">
      <div class="logo-box"><a href="/">yagaja</a></div>

      <div class="user-area">
        <!-- 로그인 여부 체크 후 사용자 이름 표시 -->
        <p class="userName" th:if="${userInfo != null}" th:text="${userInfo.userName}"></p>

        <!-- SweetAlert2 기반 로그아웃 확인창 -->
        <a href="#" class="login-form" th:if="${userInfo != null}" onclick="logoutConfirm(event)">로그아웃</a>

        <!-- 로그인 버튼 -->
        <a class="login-form" href="/member/login" th:unless="${userInfo != null}">로그인</a>
      </div>
    </div>
  </div>


  </body>


</html>
